.DS_Store
*.bak
*.swp
/*.o
/main.elf
/main.hex
/main.hex-eeprom
/main.eep
/main.lss
/soil-moisture-sensor.xcworkspace
*.b#[0123456789#]
*.s#[0123456789#]
/default
/eagle/soil-moisture-sensor.cmp
/eagle/soil-moisture-sensor.drd
/eagle/soil-moisture-sensor.dri
/eagle/soil-moisture-sensor.gpi
/eagle/soil-moisture-sensor.plc
/eagle/soil-moisture-sensor.pls
/eagle/soil-moisture-sensor.pro
/eagle/soil-moisture-sensor.sol
/eagle/soil-moisture-sensor.stc
/eagle/soil-moisture-sensor.sts
*~
